<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="vue.js"></script>
	</head>

	<body>
		<div id="app">
			<input type="text" v-model="searchInfo">
			<ul>
				<li v-for="items in result">{{items}}</li>
			</ul>
			<p v-if="showSearching">正在搜索...</p>
		</div>
		<script>
			new Vue({
				el: "#app",
				data: {
					searchInfo: "",
					showSearching: false,
					result: []
				},
				watch: {
					searchInfo: function(query) { //或者用=>function  箭头函数继承父级的this，query是异步的
						console.log(query);
						this.showSearching = true;
						var vm = this;
						setTimeout(function() {
							vm.result = ["js", "css", "heml"];
							vm.showSearching = false;
						}, 500) //异步函数通过setTimeout模拟后台
					}
				}
			})

			//watch监听没有return 返回值，并且可以异步操作，而computed必须是同步的 而且有return
		</script>
	</body>

</html>